<h1>Listing Articles</h1>



<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
  <% if can? :access, :rails_admin %>
    <li>
      <%= link_to 'Admin', rails_admin_path %>
    </li>
  <% end %>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
  <% if can? :access, :rails_admin %>
    <li>
      <%= link_to 'Admin', rails_admin_path %>
    </li>
  <% end %>
<% end %>








<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <% if can? :destroy, @article %>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% end %>

    </tr>
  <% end %>
</table>