<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Listing Articles</h1>

    <% if user_signed_in? %>

      <% if can? :access, :rails_admin %>
        <li>
          <%= link_to 'Admin Dashboard', rails_admin_path %>
        </li>
      <% end %>

      <li>
        <%= link_to 'Messages', conversations_path %>
      </li>

      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>  
      </li>
    <% end %>
</header>

  <body>
    <%= yield %>
  </body>
</html>
